{% extends 'base.html' %}
{% include 'navbar.html' %}
{% block head %}
    <title>Contact Us</title>
{% endblock %} 


{% block body %}

{{msg}}


<h4 align = "center">{{user}}</h4> 
<br>
<h4 align = "center">Share your feedback!</h4>
<div class = "contact-form">


        <form action="/send_feedback" method = "POST">
      
          <label for="fname">Name</label>
          <input type="text" id="fname" name="firstname" value="{{session['user']}}">
      
          <label for="city">City</label>
          <input type="text" id="city" name="city" value="{{session['city']}}">
      
          <label for="subject">Subject</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
      
          <input type="submit" class="btn btn-primary btn-md" value="Send">
      
        </form>
      
</div>
<br><br>

{% endblock %} 